<!DOCTYPE html>
<html>
  <body>
    <h1>New Author Form</h1>
    <hr />
    <form action="/authorForm" method="post">
      <label for="authorName">Author Name:</label>
      <input id="authorName" name="authorName" type="text">
      <button type="submit">Add a Author!</button>
    </form>
    <h4><a href="/">Return home</a></h4>
    <p><a href="/authors">View all authors</a></p>


  </body>
</html>
